body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
{
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
    background-color: #ccc;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}